* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  margin-bottom: 40px;
  background-color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
  display: flex;
  height: 80px;
  width: 100%;
  background-color: #3b1c32;
  align-items: center;
  justify-content: center;
  padding: 0 50px 0 50px;
  flex-wrap: wrap;
}

nav .logo {
  color: wheat;
  font-size: 35px;
  font-weight: 600;
}

.input1 {
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 290px;
  border: 1px solid wheat;
  background-color: #c5866f;
  box-shadow: 0 1px 5px rgb(97, 97, 97);
  padding-top: 25px;
  margin: 0 auto;
}

.input2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 65px;
}

#binary,
#decimal,
#hex,
#octal {
  margin: 0 auto;
  border: 1px solid wheat;
  padding: 20px 20px;
  font-size: 15px;
  width: 75%;
  box-shadow: 0 1px 5px rgb(97, 97, 97);
  background-color: #e1bb80;
  color: rgb(1, 54, 70);
}

p {
  text-align: center;
  color: rgb(1, 54, 70);
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.para-content {
  margin-top: 30px;
}

main {
  margin-bottom: 100px;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  background-color: #3b1c32;
}

.footer-heading {
  color: wheat;
  text-align: center;
  font-size: 16px;
}

@media screen and (max-width: 1000px) {
  .input2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .input1 {
    margin-bottom: 40px;
    width: 80%;
  }

  nav .logo {
    text-align: center;
    font-size: 25px;
    font-weight: 500;
  }
}
